{% extends "nav.html.twig" %}

{% block body %}


	<div
		style="padding: 5px }}">
		{# dump(InfoCopieur) #}
		{# dump(contrat) #}
		{# dump(problemes) #}
		{# dump(documents) #}
		{# dump(sites) #}
		{# dump(services) #}
		{# dump(contact) #}
		{# dump(commandes) #}
		{# dump(commandes) #}
		
		<h1>Copieur: {{ InfoCopieur.matricule}}</h1>

		<h2>
			
            {% set ip = InfoCopieur.adresseIp %}
            {% set regex = '/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)/' %}
            {#{% if preg_match(regex, ip) %} 
            
            {% set port = 80 %}
            {% set timeout = 2 %}

            {% set socket = @fsockopen(ip, port, errorCode, errorMessage, timeout) %}
            {% if socket %}
            <b>ON</b>
            fclose(socket) 
            {% else %}
		    <b>OFF</b>
            {% else %}
            l'adresse IP n'est pas dans le bon format
		    <b>OFF</b>
	{% endif %}#}

</h2>
<table class="table table-bordered " id='table'></table>
<table class="table table-bordered " id='table'>
	<thead
		class="thead-light">
		{# add class="thead-light" for a light header #}
		<tr>
			<th class="sorter-false filter-false">
				<b>
					Matricule
				</b>
			</th>
			<th class="sorter-false filter-false">numero ugap
			</th>
			<th class="sorter-false filter-false">numero de dossier
			</th>
			<th class="sorter-false filter-false">file d attente
			</th>
			<th class="sorter-false filter-false">adresse ip
			</th>

		</tr>
	</thead>
	<tbody>
		<form name="form" method="POST" action="CopieurUpdate.php">
			<tr id="ligne1" class="visible">
				<td> <b>{{ InfoCopieur.matricule}}</b> </td>
				<td>{{ InfoCopieur.numeroUgap}}</td>
				<td>{{ InfoCopieur.numeroDossier}}</td>
				<td>{{ InfoCopieur.fileAttente}}</td>
				{% set ip = InfoCopieur.adresseIp %}
                <td> {% if InfoCopieur.adresseIp == NULL %}
				<b>HORS RESEAU</b>
			{% else %}
				<a href=' http://{{ ip}}'> {{ ip}} 
				{% endif %}
			</td>

		</tr>
		<tr id="ligne2" class="invisible">
			<td><input class="form-control" name="matricule" type="text" value="{{ InfoCopieur.matricule}}"></td>
			<td><input class="form-control" name="numero_ugap" type="text" value="{{ InfoCopieur.numero_ugap}}"></td>
			<td><input class="form-control" name="numero_dossier" type="text" value="{{ InfoCopieur.numero_dossier}}"></td>
			<td><input class="form-control" name="file_attente" type="text" value="{{ InfoCopieur.file_attente}}"></td>
			<td><input class="form-control" name="adresse_ip" type="text" value="{{ InfoCopieur.adresse_ip}}"></td>
		</tr>

	</tbody>
</table>
<table class="table table-bordered " id='table'>
	<thead
		class="thead-light">
		{# add class="thead-light" for a light header #}
		<tr>
			<th class="sorter-false filter-false">commentaire
			</th>
			<th class="sorter-false filter-false">date d achat
			</th>
			<th class="sorter-false filter-false">date de livraison
			</th>
			<th class="sorter-false filter-false">date réforme</th>
			<th class="sorter-false filter-false">fin du contrat</th>
			<th class="sorter-false filter-false">periode en cour du contrat</th>

		</tr>
	</thead>
	<tbody>
		<tr id="ligne3" class="visible">
			<td>{{ InfoCopieur.commentaire}}</td>
			
			<td>{{ InfoCopieur.dateAchat|date("d/m/Y")}}</td>
			<td>{{ InfoCopieur.dateLivraison|date("d/m/Y")}}</td>
			<td>{{ InfoCopieur.dateReforme|date("d/m/Y")}}</td>
			<td>{{ InfoCopieur.FinContrat|date("d/m/Y")}}</td>
			<td>{{ "Periode"}}</td>

			
		</tr>
		<tr id="ligne4" class="invisible">
			<td><input class="form-control" name="commentaire" type="text" value="{{ InfoCopieur.commentaire}}"></td>
			<td><input class="form-control" name="date_achat" type="text" value="{{ InfoCopieur.dateAchat|date("d/m/Y")}}"></td>
			<td><input class="form-control" name="date_livraison" type="text" value="{{ InfoCopieur.dateLivraison|date("d/m/Y")}}"></td>
			<td><input class="form-control" name="date_reforme" type="text" value="{{ InfoCopieur.dateReforme|date("d/m/Y")}}"></td>
		</tr>
	</tbody>
</table>

<a href="#ligne1" class="visible" id="btn1" onclick="change('ligne1','ligne2') }} change('ligne3','ligne4') }} change('btn1','btn2')">Modifier</a>
<span id="btn2" class="invisible">
	<button class="btn btn-outline-success" id="btn" name="btn2{{ id }}" type="submit" value="enregistrer">
		<i class="bi bi-check2"></i>
	</button>
</span></form><nav>
<div class="nav nav-tabs" id="nav-tab" role="tablist">
	<button class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-detail" aria-selected="true">Détails</button>
	<button class="nav-link" id="nav-cout-tab" data-bs-toggle="tab" data-bs-target="#nav-cout" type="button" role="tab" aria-controls="nav-cout" aria-selected="false">Coûts</button>
	<button class="nav-link" id="nav-probleme-tab" data-bs-toggle="tab" data-bs-target="#nav-probleme" type="button" role="tab" aria-controls="nav-probleme" aria-selected="false">Problèmes</button>
	<button class="nav-link" id="nav-document-tab" data-bs-toggle="tab" data-bs-target="#nav-document" type="button" role="tab" aria-controls="nav-document" aria-selected="false">Documents</button>
	<button class="nav-link" id="nav-compteur-tab" data-bs-toggle="tab" data-bs-target="#nav-compteur" type="button" role="tab" aria-controls="nav-compteur" aria-selected="false">Compteur</button>
	<button class="nav-link" id="nav-service-tab" data-bs-toggle="tab" data-bs-target="#nav-service" type="button" role="tab" aria-controls="nav-service" aria-selected="false">Service</button>
	<button class="nav-link" id="nav-consommable-tab" data-bs-toggle="tab" data-bs-target="#nav-consommable" type="button" role="tab" aria-controls="nav-consommable" aria-selected="false">Consommables</button>
	<button class="nav-link" id="nav-contrat-tab" data-bs-toggle="tab" data-bs-target="#nav-contrat" type="button" role="tab" aria-controls="nav-contrat" aria-selected="false">Contrat</button>
	<button class="nav-link" id="nav-depense-tab" data-bs-toggle="tab" data-bs-target="#nav-depense" type="button" role="tab" aria-controls="nav-depense" aria-selected="false">Dépenses</button>
</div></nav><div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
	<h3>Caractéristiques techniques :</h3>
	<table class="table" >
		<thead
			{% set  class="thead" %}
			{# add class="thead-light" for a light header #}
			<tr></tr>
		</thead>
		<tbody>
			<tr>
				{% set imgOui = 'public\img\approuve.png' %}
                {% set  imgNon = 'public\img/crossed.png' %}
				<td width="10%">
					<li>Fax</li>
				</td>
				<td width="90%">
			    {% if InfoCopieur.fax == 0 %}
                <img src="{{imgNon}}"width="18" height="18" class="d-inline-block align-center" alt="" />N
                {% else %} 
                <img src="{{imgOui}}"width="18" height="18" class="d-inline-block align-center" alt="" />O
                {% endif %} 
				</tr>
			</tr>
			<tr>
				<td>
					<li>Lecteur de badge</li>
				</td>
				<td>
			    {% if InfoCopieur.lecteur_badge == 0 %}
                <img src="' . imgNon . '"width="18" height="18" class="d-inline-block align-center" alt="" />N
                {% else %} 
                <img src="' . imgOui . '"width="18" height="18" class="d-inline-block align-center" alt="" />O
                {% endif %} 
				</tr>
			</tr>
			<tr>
				<td>
				<li>A3</li>
				</td>
				<td>
			    {% if InfoCopieur.a3 == 0 %}                
                <img src="' . imgNon . '"width="18" height="18" class="d-inline-block align-center" alt="" />N
                {% else %} 
                <img src="' . imgOui . '"width="18" height="18" class="d-inline-block align-center" alt="" />O
                {% endif %} 
				</tr>
			</tr>
			<tr>
				<td>
					<li>Recto-verso</li>
				</td>
				<td>
			    {% if InfoCopieur.recto_verso == 0 %}
                <img src="' . imgNon . '"width="18" height="18" class="d-inline-block align-center" alt="" />N
                {% else %} 
                <img src="' . imgOui . '"width="18" height="18" class="d-inline-block align-center" alt="" />O
                {% endif %} 
				</tr>
			</tr>
			<tr>
				<td>
					<li>Couleur</li>
				</td>
				<td>
			    {% if InfoCopieur.couleur == 0 %}
                <img src="' . imgNon . '"width="18" height="18" class="d-inline-block align-center" alt="" />N
                {% else %} 
                <img src="' . imgOui . '"width="18" height="18" class="d-inline-block align-center" alt="" />O
                {% endif %} 
				</tr>
			</tr>
			<tr>
				<td>
					<li>Logo</li>
				</td>
				<td>
			    {% if InfoCopieur.logo == 0 %}
                <img src="' . imgNon . '"width="18" height="18" class="d-inline-block align-center" alt="" />N
                {% else %} 
                <img src="' . imgOui . '"width="18" height="18" class="d-inline-block align-center" alt="" />O
                {% endif %} 
				</tr>
			</tr>
			<tr>
				<td>
					<li>Finisseur</li>
				</td>
				<td>
			    {% if InfoCopieur.finisseur == 'N' %}
                <img src="' . imgNon . '"width="18" height="18" class="d-inline-block align-center" alt="" />N
                {% elseif  InfoCopieur.finisseur == 'O' %} 
                <img src="' . imgOui . '"width="18" height="18" class="d-inline-block align-center" alt="" />O
                {% else %} 
                {{InfoCopieur.finisseur}}
                {% endif %} 

				</tr>
			</tr>
		</tbody>
	</table>
</div>
<div class="tab-pane fade" id="nav-cout" role="tabpanel" aria-labelledby="nav-cout-tab">
	<h3>Coûts :</h3>
	<table class="table" id=' table'>
		<thead class="thead">
			{# add class="thead-light" for a light header #}
			<tr>
				<th>Prix d achat TTC :
				</th>
				<th>prix d'achat HT :
				</th>
				<th>Prix trimestriel de la maintenance :</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ InfoCopieur.prixAchatTtc  }}
					(Euros)</td>
				<td>{{ InfoCopieur.prixAchatHt  }}
					(Euros)</td>
				<td>
				
					{% if InfoCopieur.FinContrat < date(now | date()) %}
					{{ contrat.PrixTrimMaintenance}}
					{% endif %}
					(Euros)</td>

			</tr>
		</tbody>
	</table>
</div>
<div class="tab-pane fade" id="nav-probleme" role="tabpanel" aria-labelledby="nav-probleme-tab">
	<h3>liste des problemes :</h3>
	<table class="table" id='table'>
		<thead
			class="thead">
			{#  add class="thead-light" for a light header #}
			<tr>
				<th>Date
				</th>
				<th>Description
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for probleme in problemes %}
					<td>{{ probleme.date|date("d/m/Y") }}</td>
					<td>{{ probleme.description }}</td>
				</tr>   
                {% if problemes == Null %}
                    {{"Aucun problemes trouver"}}
                    {% endif %}
                {% endfor %}
                 
		</tbody>
	</table>

</div>
<div class="tab-pane fade" id="nav-document" role="tabpanel" aria-labelledby="nav-document-tab">
	<h3>Documents :</h3>
	<table class="table" id='table'>
		<thead
			class="thead">
			{# add class="thead-light" for a light header #}
			<tr>
				<th>Numero du document
				</th>
				<th>Type du document
				</th>
				<th>Date de Réception
				</th>
				<th>Période
				</th>
				<th>Montant
				</th>
				<th>Numéro de mandat
				</th>
				<th>Numéro d'engagement
				</th>
				<th>Scan
				</th>
			</tr>
		</thead>
		<tbody>
			{% for document in documents %}
				<tr>
					<td>{{ document.numero}}</td>
					<td>{{ document.libelleType}}</td>
					<td>{{ document.date_reception|date("d/m/Y")}}</td>
					<td>{{ document.libellePeriode}}</td>
					<td>{{ document.montant_ttc}} Euros</td>
					<td>{{ document.numero_mandat}}</td>
					<td>{{ document.numero_engagement}}</td>
					<td>
						<a href={{ document.chemin_scan}}>
							lien
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


</div>
<div class="tab-pane fade" id="nav-compteur" role="tabpanel" aria-labelledby="nav-compteur-tab">
	<h3>Relevés compteur :</h3>
	<table class="table" id='table'>
		<thead
			class="thead">
			{# add class="thead-light" for a light header #}
			<tr>
				<th>Date du relevé
				</th>
				<th>Nombre de copie noir
				</th>
				<th>Nombre de copies couleur
				</th>
				<th>Nombre de copies logo
				</th>
			</tr>
		</thead>
		<tbody>
			{% for compteur in compteurs %}
				<tr>
					<td>{{ compteur.dateReleve|date("d/m/Y")}}</td>
					<td>{{ compteur.nbCopNoir}}</td>
					<td>{{ compteur.nbCopCoul}}</td>
					<td>{{ compteur.nbCopLogo}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
<div class="tab-pane fade" id="nav-service" role="tabpanel" aria-labelledby="nav-service-tab">
	<h3>Site :</h3>
	<table class="table" id='table'>
		<thead
			class="thead">
			{# add class="thead-light" for a light header #}
			<tr>
				<th>Date d'arrivée
				</th>
				<th>Date de depart
				</th>
				<th>Site
				</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
				{% for copieurSite in sites %}
					<tr>
						<td>{{ copieurSite.dateArrivee|date("d/m/Y")}}</td>
						<td>
					{% if copieurSite.dateDepart|date("d/m/Y") %}
                    {{copieurSite.dateDepart|date("d/m/Y") }}
                    {% else %} 
                    {{ "present sur site" }}

						</td>
                    {% endif %}
						<td>
						{{copieurSite.SiteId[1] }}
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>

	<h3>Service :</h3>
	<table class="table" id='table'>
		<thead
			class="thead">
			{# add class="thead-light" for a light header #}
			<tr>
				<th>Date d'arrivée
				</th>
				<th>Date de depart
				</th>
				<th>Service
				</th>
			</tr>
		</thead>
		<tbody>
			
				{% for copieurServices in services %}
					<tr>
						<td>{{ copieurService.dateArrivee|date("d/m/Y")}}</td>
						<td>{{ copieurServices.dateDepart|date("d/m/Y")}}</td>
						<td>{{ copieurServices.ServId[0]}}</td>
					</tr>
				{% endfor %}
			
		</tbody>
	</table>

	<h3>Personne a contacter :</h3>
	<table class="table" id='table'>
		<thead class="thead">
			{# add class="thead-light" for a light header #}
			<tr>
				<th>Nom
				</th>
				<th>Prenom
				</th>
				<th>Telephone
				</th>
				<th>Date d'arrivée
				</th>
				<th>Date de depart
				</th>
			</tr>
		</thead>
		<tbody>
			 {% for contacter in contact %}
				 
					<tr>
						<td>{{ contacter.nom}}</td>
						<td>{{ contacter.prenom}}</td>
						<td>{{ contacter.tel}}</td>
						<td>{{ contacter.dateArrivee|date("d/m/Y")}}</td>
						<td>{{ contacter.dateDepart|date("d/m/Y")}}</td>
					</tr>
				
			{% endfor %}
		</tbody>
	</table>

</div>
<div class="tab-pane fade" id="nav-consommable" role="tabpanel" aria-labelledby="nav-consommable-tab">
	<h3>Liste des commandes :</h3>
	<table class="table" id='table'>
		<thead
			class="thead">
			{# add class="thead-light" for a light header #}
			<tr>
				<th>Date de commande
				</th>
				<th>Toner noir
				</th>
				<th>Toner jaune
				</th>
				<th>Toner magenta
				</th>
				<th>Toner cyan
				</th>
				<th>Bac récupérateur
				</th>
				<th>Agrafes
				</th>
				<th>Commentaires
				</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}
				<tr>
					<td>{{ commande.dateEnvoie|date("d/m/Y")}}</td>
					<td>{{ commande.tonerNoir}}</td>
					<td>{{ commande.tonerJaune}}</td>
					<td>{{ commande.tonerMagenta}}</td>
					<td>{{ commande.tonerCyan}}</td>
					<td>{{ commande.bacRecup}}</td>
					<td>{{ commande.agrafe}}</td>
					<td>{{ commande.commentaires}}</td>
				</tr>
                        {% if commandes == Null %}
                            {{ "Aucune commandes trouver" }}
                {% endif %}
			{% endfor %}
		</tbody>
	</table>

</div>
<div class="tab-pane fade" id="nav-contrat" role="tabpanel" aria-labelledby="nav-contrat-tab">
	<h3>Contrat actuel :</h3>
	<table class="table" id='table'>
		<thead
			class="thead">
			{# add class="thead-light" for a light header #}
			<tr>
				<th>Numéro du contrat en cours
				</th>
				<th>Date de début
				</th>
				<th>Durée
				</th>
				<th>Nombre de copies noires par trimestre
				</th>
				<th>Coût du dépassement de la copie noire
				</th>
				<th>Nombre de copies couleurs par trimestre
				</th>
				<th>Coût du dépassement de la copie couleur
				</th>
				<th>Nombre de copies logo par trimestre
				</th>
				<th>Coût du dépassement de la copie logo
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			
				<td>{{ contrat.Numero}}</td>
				<td>{{ contrat.dateDebut|date("d/m/Y")}}</td>
				<td>{{ contrat.duree}}</td>
				<td>{{ contrat.nbTrimCopNoir}}</td>
				<td>{{ contrat.coutCopNoir}}
					{{"(euros)"}}</td>
				<td>{{ contrat.nbTrimCopCoul}}</td>
				<td>{{ contrat.coutCopCoul}}
					{{"(euros)"}}</td>
				<td>{{ contrat.nbTrimCopLogo}}</td>
				<td>{{ contrat.coutCopLogo}}
					{{"(euros)"}}</td>
				
			</tr>
		</tbody>
	</table>

</div>
<div class="tab-pane fade" id="nav-depense" role="tabpanel" aria-labelledby="nav-depense-tab">
	<h3>Listes des dépenses :</h3>
	<table class="table" id='table'>
		<thead
			class="thead">
			{# add class="thead-light" for a light header #}
			<tr>
				<th>Année
				</th>
				<th>Investissement {{"(Euros TTC)"}}
				</th>
				<th>Prévisionnel
				</th>
				<th>Réel
				</th>
			</tr>
		</thead>
		<tbody>
		{% for i in range (1, InfoCopieur.duree) %}
			
				<tr>
					<td>{{ i }}</td>
					<td>
					{% if i == 1   %}
					{{ InfoCopieur.prixAchatTtc}}
					{% endif %}
					</td>
					<td>{{ contrat.PrixTrimMaintenance * 4}}</td>
					
					<td>
					{# if documents.PeriodeId     #}
					{{ InfoCopieur.DepenseReel[i]}}
					</td>
					{# endif #}
				</tr>
	{% endfor %}
		</tbody>
	</table>
</div></div></div>{% endblock %}
