{% extends "nav.html.twig" %}

{% block body %}


<div style="padding: 5px;">
    {# dump(copieurs) #}
    <h1>home</h1>

    <table class="table-bordered " table-dark id='table'>
        <thead class="thead-dark"> <!-- add class="thead-light" for a light header -->
        <tr>
            <th>N° série copieur</th>
            <th>Dossier</th>
            <th>Adresse IP</th>
            <th>Modèle</th>
            <th>File attente</th>
            <th>Site</th>
            <th>Service</th>
            <th>Date d'acquisition</th>
            <th>Dernier relevé</th>
            <th>Fin de contrat</th>

        </tr>
        </thead>
        <tbody>
{% set compte = 0 %}
{% for copieur in copieurs %} 
{% set compte = compte + 1 %}
<tr>
    <style>
        a:hover {
            color:#EDD200;
        }
        a{
            color:black;
        }
    </style>

    <td> <u> <a href="copieurdetail?id={{ copieur.id }} ">{{ copieur.matricule }}</a>  <u> </td>
    <td>{{ copieur.numerodossier }}</td>
    <td> {% if  copieur.adresseip  == NULL %}  <div style="color: red"> <strong> HORS RESEAU </strong> </div>  {% else %}  <u> <a href= http://{{ copieur.adresseip }} > {{ copieur.adresseip }}<u>  {% endif %} </td>
    <td>{{ copieur.Modele }}</td>
    <td>{{ copieur.fileattente }}</td>
    <td>{{ copieur.idSite[0] }}<br>{{ copieur.idSite[1] }}{% if copieur.chemin %} <a href={{ copieur.chemin }} >  <i class="bi bi-map-fill"style=" font-size: 1rem; color: cornflowerblue;"></i> </a> </td> {% endif %}</td>
    <td>{{ copieur.idService[0]|replace({'-': ' '}) }}</td>
    <td>{{ copieur.dateachat|date("d/m/Y") }}</td>
    <td>{{ copieur.dateReleve|date("d/m/Y") }}</td>
    

{% if  (copieur.fincontrat < ("now"|date("Y-m-d"))) %}

    <td><span style="color:red;"><strong> {% set color = red %}  {{ copieur.fincontrat|date("d/m/Y") }}</strong></span> </td>

{% elseif ( copieur.fincontrat|date_modify("-6 month")|date("Y-m-d")  < ("now"|date("Y-m-d"))) %}

    <td><span style="color:orange;"> <strong> {{ copieur.fincontrat|date("d/m/Y") }}</strong></span></td>

{% else %}

    <td>  <span style="color:green;"> <strong>{{ copieur.fincontrat|date("d/m/Y") }}</strong></span></td>

{% endif %} 

    </td>


</tr>
{% endfor %}
Liste de tous les copieurs: {{compte}}
</tbody>
</table>
</div>

{% endblock %}